.category_products {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}
// main boxes
.cp_title {
  width: 100%;
  margin: 10px 0;
  text-align: right;
  font-size: 20px;
  font-family: "YekanBakhLight";
}
.cp_products_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.paginate {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginate_box {
}

.containerClassName {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  color: #999999;
  font-weight: 600;
  font-family: "SamimFD";
  font-size: 12px;
  padding: 0;
}
.pageClassName {
  margin: 10px 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-family: "YekanBakh";
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.breakClassName {
  margin: 10px 5px;
}
.breakLinkClassName {
  outline: none;
  cursor: pointer;
}
.pageLinkClassName {
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pb_activeClassName {
  background-color: #ec407a;
  border: 1px solid #ec407a;
  color: #ffffff;
  box-shadow: 0 0 4px #e1e1e1;
}
.pb_activeLinkClassName {
}
.pb_previousClassName {
  margin: 10px 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
.pb_nextClassName {
  margin: 10px 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #000000;
  cursor: pointer;
}
.pb_previousLinkClassName {
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pb_nextLinkClassName {
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pb_disabledClassName {
}

.load_inventions {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  text-align: center;
  font-size: 20px;
}

// options
.nothing {
  width: 100%;
  font-family: "YekanBakh";
  height: 300px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  width: 100%;
  font-family: "YekanBakh";
  height: 300px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
