.main_page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.logo {
  width: 500px;
}
.name {
  margin: 0;
  padding: 20px;
  font-family: "YekanBakhBolf";
  font-size: 32px;
}

@media screen and (max-width: 850px) {
  .logo {
    width: 200px;
  }
  .name {
    font-size: 26px;
  }
}
