//inner boxes
.cp_pb_each_product {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cp_pb_ec_inner_box {
  width: 250px;
  margin: 10px 0;
  box-shadow: 0 0 4px #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 300ms;
  overflow: hidden;
  background-color: #ffffff;
}
.cp_pb_ec_image {
  width: 80%;
}
.cp_pb_ec_details_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cp_pb_ec_is_new {
  font-size: 12px;
  font-family: "YekanBakhBolf";
  background-color: #ffffff;
  color: #ec407a;
  padding: 2px 8px;
  border: 1px solid #ec407a;
  border-radius: 50px;
  position: absolute;
  bottom: 100px;
  right: 10px;
}
.cp_pb_ec_db_title {
  margin: 0;
  font-family: "YekanBakh";
  font-size: 14px;
}
.cp_pb_ec_db_weight {
  margin: 0;
  font-family: "YekanBakhBolf";
  color: #ec407a;
  font-size: 12px;
}
.cp_pb_ec_db_cost_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.cp_pb_ec_db_cb_cost {
  margin: 0;
  font-family: "YekanBakhBolf";
  font-size: 16px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toman {
  color: #494949;
  font-family: "YekanBakhBolf";
  font-size: 12px;
  padding-right: 5px;
}
.cp_pb_ec_db_cb_basket {
  width: 20px;
  padding: 0 10px;
  cursor: pointer;
}
.hover_cost {
  margin: 0;
  font-family: "YekanBakhBolf";
  font-size: 16px;
  padding: 0 10px 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  background-color: #ff0056;
  color: #ffffff;
  position: absolute;
  bottom: 15px;
  left: 0;
  transform: translate(-300px, 0);
  transition: 300ms;
}
.hover_cost_toman {
  color: #ffffff;
  font-family: "YekanBakhBolf";
  font-size: 12px;
  padding-right: 5px;
}

.cp_pb_ec_inner_box:hover {
  box-shadow: 0 1px 10px #707070;
}
.cp_pb_ec_inner_box:hover .hover_cost {
  transform: translate(0, 0);
}

@media screen and (max-width: 1150px) {
  .cp_pb_ec_inner_box {
    width: 200px;
  }
}

@media screen and (max-width: 920px) {
  .cp_pb_each_product {
    width: 300px;
  }
  .cp_pb_ec_inner_box {
    width: 90%;
  }
}
