.toolbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 16px #e1e1e1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fbfbfb;
}
