.basket {
  width: 260px;
  background-color: #202124;
  padding: 10px;
  border-radius: 2px;
}
// main boxes
.b_basket_values_box {
  width: 100%;
}
.b_detail_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.b_button_box {
  width: 100%;
}
// inner boxes
.b_db_total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b_db_must_pay {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b_db_title {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0;
  font-family: "YekanBakh";
}
.b_db_value {
  margin: 0;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 0;
  font-family: "YekanBakh";
}
.b_bb_button {
  outline: none;
  border: none;
  width: 100%;
  background-color: #ec407a;
  color: #ffffff;
  padding: 10px 0;
  border-radius: 5px;
  font-family: "YekanBakhBolf";
  cursor: pointer;
}

.b_bvb_each_product {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 1px solid #707070;
  overflow: hidden;
  margin-bottom: 5px;
}
.b_bvb_ep_detail_box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.b_bvb_ep_db_title {
  margin: 0;
  padding: 0 5px;
  font-family: "YekanBakh";
  font-size: 14px;
  color: #ffffff;
}
.b_bvb_ep_db_cost {
  margin: 0;
  padding: 0 5px;
  font-family: "YekanBakh";
  font-size: 14px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toman {
  font-family: "YekanBakh";
  font-size: 10px;
  color: #ffffff;
}
.b_bvb_ep_db_changing_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.b_bvb_ep_db_cb_delete {
  margin: 0;
  padding: 0 5px;
  font-family: "YekanBakh";
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.b_bvb_ep_db_cb_number_box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "YekanBakh";
  font-size: 14px;
  color: #ffffff;
  border: 1px solid #707070;
  border-radius: 5px;
  margin: 0 10px;
}
.b_bvb_ep_db_cb_nb_num {
  margin: 0 10px;
}
.b_bvb_ep_db_cb_nb_inner {
  margin: 0 10px;
  cursor: pointer;
}

.b_bvb_ep_image {
  width: 80px;
}
