.layout {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  position: relative;
}
.main {
  padding-bottom: 120px;
}

@media screen and (max-width: 1020px) {
  .main {
    padding-bottom: 254px;
  }
}

@media screen and (max-width: 550px) {
  .main {
    padding-bottom: 375px;
  }
}
