.footer {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px #e1e1e1;
  position: absolute;
  bottom: 0;
  // left: 0;
  background-color: #393c40;
}
// base boxes
.f_top_box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #707070;
}
.f_bottom_box {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
}
// inner of each main box
//top
.f_tb_intro_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f_tb_information_box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.f_tb_ib_logo {
  width: 50px;
}
.f_tb_ib_name {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  padding: 0 10px;
}
.f_tb_ib_text {
  margin: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 0 8px;
}

.f_tb_ib_each_info {
  padding: 0 30px;
  color: #ffffff;
  font-family: "YekanBakh";
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.f_tb_ib_each_info_icon {
  width: 20px;
  margin-right: 10px;
}
.border {
  border-left: 1px solid #707070;
  border-right: 1px solid #707070;
}
//button
.f_bb_law_box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
}
.f_bb_social_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.f_bb_sb_icon {
  width: 20px;
  margin: 0 10px;
  cursor: pointer;
}
.f_bb_time_box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 12px;
  padding-right: 30px;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .f_top_box {
    flex-direction: column;
    justify-content: center;
  }
  .f_bottom_box {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .f_tb_intro_box {
    padding: 10px 0;
  }
  .f_tb_information_box {
    padding: 10px 0;
  }
  .f_tb_ib_each_info {
    padding: 0 10px;
  }
  .f_bb_law_box {
    padding: 10px 0;
  }
  .f_bb_social_box {
    padding: 10px 0;
  }
}
@media screen and (max-width: 550px) {
  .f_tb_information_box {
    flex-direction: column-reverse;
  }
  .f_tb_ib_each_info {
    padding: 10px 0;
  }
  .border {
    border-right: none;
    border-left: none;
  }
}
