.shop {
  width: 90%;
  margin: auto;
  padding: 20px 0;
}

.s_title {
  width: 100%;
  margin: 10px 0;
  text-align: right;
  font-size: 20px;
  font-family: "YekanBakhLight";
}

.s_categories_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.s_cb_each_category {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.s_cb_ec_inner_box {
  width: 320px;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 0 10px #b1b1b1;
  position: relative;
  transition: 300ms;
  cursor: pointer;
}
.s_cb_ec_inner_box:hover {
  transform: translate(0, 2px);
  box-shadow: 0 0 4px #b1b1b1;
}
.s_cb_ec_ib_image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  filter: brightness(60%);
}
.s_cb_ec_ib_name {
  margin: 0;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.s_cb_ec_ib_arrow_icon {
  width: 12px;
  margin-right: 10px;
}
// options
.nothing {
  width: 100%;
  font-family: "YekanBakh";
  height: 300px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading {
  width: 100%;
  font-family: "YekanBakh";
  height: 300px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .s_cb_each_category {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }
}
