body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfbfb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "YekanBakh";
  src: local("YekanBakh"),
    url(./assets/Fonts/YekanBakh/YekanBakh-Regular/YekanBakh-Regular.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhBolf";
  src: local("YekanBakhBolf"),
    url(./assets/Fonts/YekanBakh/YekanBakh-Bold/YekanBakh-Bold.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhLight";
  src: local("YekanBakhLight"),
    url(./assets/Fonts/YekanBakh/YekanBakh-Light/YekanBakh-Light.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhHeavy";
  src: local("YekanBakhHeavy"),
    url(./assets/Fonts/YekanBakh/YekanBakh-Heavy/YekanBakh-Heavy.ttf)
      format("TrueType");
}
@font-face {
  font-family: "YekanBakhFat";
  src: local("YekanBakhFat"),
    url(./assets/Fonts/YekanBakh/YekanBakh-Fat/YekanBakh-Fat.ttf)
      format("TrueType");
}
