.bottomToolbar {
  width: 90%;
  padding: 20px 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
// inner styles of bottomToolbar
.b_bottom_navbar_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.b_basket_box {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.basket_box {
  position: absolute;
  top: 40px;
  left: 10px;
}
// inner styles of each main box
.b_bb_basket_icon {
  width: 24px;
  cursor: pointer;
}
.b_bb_value_count {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 2px;
  text-align: center;
  background-color: #ec407a;
  color: #ffffff;
  font-size: 10px;
  border-radius: 20px;
  position: absolute;
  top: -10px;
  left: 10px;
}
.navlink {
  text-decoration: none;
  color: #2a2a2a;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.b_bnb_option {
  width: max-content;
  text-decoration: none;
  color: #2a2a2a;
  margin: 0 10px;
  padding: 0 20px;
  font-family: "YekanBakh";
  font-size: 15px;
  transition: 300ms;
  position: relative;
  cursor: pointer;
}
.b_bnb_option > .active_motion:before {
  content: "";
  position: absolute;
  right: 15%;
  bottom: -4px;
  height: 0px;
  width: 0%;
  border-bottom: 5px solid #ec407a;
  transition: 300ms;
  border-radius: 15px;
}
.b_bnb_option:hover > .active_motion:before {
  width: 60%;
}
.b_bnb_option_active > .active_motion:before {
  width: 60%;
}

@media screen and (max-width: 850px) {
  .b_bnb_option {
    // margin: 0 10px;
    padding: 0;
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .bottomToolbar {
    width: 95%;
  }
  .b_bottom_navbar_box {
    flex-wrap: wrap;
  }
  .b_bnb_option {
    font-size: 10px;
    margin: 10px 4px;
  }
  .b_basket_box {
    width: 30px;
  }
  .b_bb_basket_icon {
    width: 20px;
    cursor: pointer;
  }
}
