.topToolbar {
  width: 90%;
  padding: 0 10px;
  border-bottom: 2px solid #e1e1e1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
// inner styles of topToolbar
.t_logo_box {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.t_options_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.t_user_detail_box {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
// inner styles of each main box
.t_lb_logo {
  width: 140px;
}

.t_ob_option {
  width: max-content;
  //   margin: 0 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: #bababa;
  font-family: "YekanBakhBolf";
  font-size: 14px;
  transition: 300ms;
}
.t_ob_option:hover {
  color: #000000;
}
.t_ob_option_active {
  color: #000000;
}

.t_udb_name_box {
}
.t_udb_image_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.t_udb_nb_name {
  font-family: "YekanBakh";
  font-size: 12px;
}
.t_udb_ib_image {
  width: 40px;
  border-radius: 50px;
  border: 4px solid #e1e1e1;
}
.t_udb_ib_down_icon {
  width: 12px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .topToolbar {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 10px;
  }
  .t_logo_box {
    width: 100%;
    justify-content: center;
  }
  .t_options_box {
    width: 100%;
    justify-content: center;
  }
  .t_user_detail_box {
    width: 100%;
    justify-content: center;
  }
  .t_udb_nb_name {
    margin: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .t_ob_option {
    padding: 10px;
  }
}
